<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/base.html :: titolo"></head>

<body>
		<h1>Share project with an user!</h1>

<div th:if="${availableCredentialsList.size()==0}">You can't share the project with no other users</div>
<table th:if="${availableCredentialsList.size()>0}">
	<caption style="font-size: 20px">Select an user from the list!</caption>
    <thead>
    <tr>
    	<th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Share</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="credentials : ${availableCredentialsList}">
		<td th:text="${credentials.username}"></td>
        <td th:text="${credentials.user.firstName}"></td>
        <td th:text="${credentials.user.lastName}"></td>
        <td>
            <form method="POST" th:action="@{'/projects/' + ${project.id} + '/shareProject/' + ${credentials.user.id}}">
                <button type="submit" name="submit" value="share">Share</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>